
@{
    ViewBag.Title = "FirstAjax";
}

<h2>FirstAjax</h2>

<head runat="server">
    <title>FirstAjax</title>
  
    <script type="text/javascript">
        $(document).ready(function () {
            var serviceURL = '/AjaxTest/FirstAjax';

            $.ajax({
                type: "POST",
                url: serviceURL,
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: "successFunc",
                error: "errorFunc"
            });

            function successFunc(data, status) {
                alert(data);
            }

            function errorFunc() {
                alert('error');
            }
        });
    </script>
</head>
